.race {
  cursor: pointer;

  .iconColumn {
    min-width: 25px;
  }

  .eventColumn {
    width: 50%;
  }

  .dateColumn {
    width: 30%;
  }

  .timeColumn {
    width: 20%;
  }

  .featuredSessionsColumn {
  }
  .featuredSessionsColumn span {
    display: inline-block;
    padding: 1px 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background: red;
    margin-right: 10px;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }

  .badgeColumn {

  }
}


// Modifiers
.odd {
  background: #151515;
}

.past {
  color: #aaa;
  text-decoration: line-through;
}

.nextEvent .race {
  color: #f87639;
}

.canceledWeekend {
  color: #999;
  text-decoration: line-through;
}

.confirmedWeekend {
  font-weight: bold;
}

.tbcWeekend {
  color: #999;
}

.collapsed {
  display: none;
}


%badge {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 5px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
}

.tbc {
  @extend %badge;
  background: #999;
  color: #000;
  width: max-content;
}

.tickets {
  @extend %badge;
  background: #1a8b73;
  cursor: pointer;
  color: #fff;
}

.ticketsOver {
  @extend %badge;
  background: #333;
  cursor: not-allowed;
  color: #fff;
}

.next {
  @extend %badge;
  background: #f87639;
  color: #000;
}

.canceled {
  @extend %badge;
  background: #e30010;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: #000;
}

@media screen and (max-width: 500px) {
  .next {
    display: none;
  }
  %badge {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 10px;
  }
  .confirmed, .canceled {
    font-weight: normal !important;
  }
}