.header {
	background: #011612;
	color: #fff;
	margin-bottom: 16px;

	.branding {
		padding: 25px 0;
		float: left;
	}

	.languageSelector {
		float: right;
		margin-top: 45px;
		text-align: right;
	}

	.languageSelector span {
		display:none;
	}

	.clear {
		clear: both;
	}

	.container {
		max-width: 1000px;
		padding: 8px 16px;
		margin: 0 auto;
	}
	.logomark {
		float: left;
		width: 60px;
		height: 60px;
		margin-right: 24px;
	}
	.brandingText {
		float: left;
	}
	h1 {
		font-size: 16px;
		margin: 0;
		padding-top: 8px;
		font-family: "LeagueSpartan";
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	h1 a {
		color: #ffffff;
	}
	h2 {
		font-size: 11px;
		color: #1a8b73;
		text-transform: uppercase;
		margin: 0;
		letter-spacing: 2px;
		font-size: 11px;
		font-family: "LeagueSpartan";
	}
	h2 a {
		color: #1a8b73;
	}

	@media screen and (max-width: 900px) {
		.logomark {
			margin: 0 auto 10px auto;
			float: none;
		}

		.brandingText {
			float: none;
			margin: 0 auto;
		}

		h1 {
			text-align: center;
			margin-bottom: 16px;
			font-size: 14px;
		}

		h2 {
			text-align: center;
			margin-bottom: 0;
			font-size: 10px;
		}

		.branding {
			padding: 25px 0 10px 0;
			float: none;
		}

		.languageSelector {
			margin: 4px 0 18px 0;
			float: none;
			display: block;
			text-align: center;
		}
	}
}

