.content {
  h2.heading {
    margin-top:30px;
    font-size:18px;
    margin-bottom:10px;
  }
  
  .main_content {
    max-width:1000px;
    margin: 0 auto;
    padding: 0 16px;
  }
        
  @media screen and (max-width: 500px) {
  	.main_content {
  		padding: 0 8px;
    }
  }
}