.subscribe {
  background: #151515;
  margin: 50px auto 0 auto;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  padding: 10px 25px;

  .hidden {
    display: none;
  }

  h4 {
    margin: 10px 0;
    font-weight: normal;
  }

  p {
    margin-bottom: 20px;
  }
  
  p a {
    text-decoration: underline;
    font-weight: bold;
    color:#33a789;
  }

  .row {

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      background: #000;
      color: #fff;
      border: 0;
      padding: 15px;
      font-size: 15px;
      margin: 10px 0;
    }
  }


  .button {
    background: #117465;
    border: 0;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    padding: 10px 25px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .button:hover {
    background: #0a5f53;
  }


  @media screen and (max-width: 800px) {
    .button {
      width: 100%;
    }
  }

}