@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --color-dark-green: #03120f;
  --color-mid-green: #104134;
  --color-light-green: #2d9977;
  --color-row-gray: #151515;
  --color-row-gray-darker: #101010;
  --font-league-spartan: League Spartan;
  --text-xsm: 0.65rem;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  background: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Fira Sans', Avenir, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.form-tick:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

@layer components {
  p,
  ul,
  ol,
  li {
    @apply text-white;
  }

  a {
    @apply font-semibold;
  }

  h6 {
    @apply text-base font-bold font-league-spartan font-bold text-white;
  }

  h5 {
    @apply text-lg font-bold font-league-spartan font-bold text-white;
  }

  h4 {
    @apply text-xl font-bold font-league-spartan font-bold text-white;
  }

  h3 {
    @apply text-2xl font-bold font-league-spartan font-bold text-white uppercase;
  }

  h2 {
    @apply text-3xl font-bold tracking-normal font-league-spartan font-bold text-white uppercase;
  }

  h1 {
    @apply text-4xl font-bold tracking-normal font-league-spartan font-extrabold text-white uppercase;
  }

  .btn {
    @apply items-center justify-center px-4 py-2 space-x-2 text-sm font-medium transition-shadow bg-mid-green rounded shadow-sm hover:bg-light-green cursor-pointer focus:outline-none;
  }

  .destructive-btn {
    @apply items-center justify-center px-4 py-2 space-x-2 text-sm font-medium transition-shadow bg-red-800 rounded shadow-sm hover:bg-red-900 cursor-pointer focus:outline-none;
  }

  .collapse-btn {
    @apply items-center justify-center px-4 py-2 space-x-2 text-sm font-medium transition-shadow rounded shadow-sm cursor-pointer focus:outline-none;
    background: #222;
  }

  .support-btn {
    @apply flex items-center justify-center px-2 py-2 space-x-2 text-sm font-medium transition-shadow bg-red-600 rounded shadow-sm hover:bg-red-700 cursor-pointer focus:outline-none;
  }

  .support-btn-rounded {
    @apply flex items-center justify-center px-2 py-2 space-x-2 text-sm font-medium transition-shadow bg-red-600 rounded-full shadow-sm hover:bg-red-700 cursor-pointer focus:outline-none w-12 h-12;
  }

  .support-btn-rounded-desktop {
    @apply flex items-center justify-center px-2 py-2 space-x-2 text-sm font-medium transition-shadow bg-red-600 rounded-full shadow-sm hover:bg-red-700 cursor-pointer focus:outline-none w-16 h-16;
  }
}
