@font-face {
	font-family: "LeagueSpartan";
	src: url("/fonts/leaguespartan-bold-webfont.woff2") format("woff2"),
		url("/fonts/leaguespartan-bold-webfont.woff") format("woff");
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
	background: #000;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans",
		Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility;
	height: 100%;
}

h1 {
	font-size: 16px;
	font-family: "LeagueSpartan";
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: "LeagueSpartan";
}

h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "LeagueSpartan";
}

a {
	color: #353535;
	text-decoration: none;
}

a:hover {
	color: #151515;
}

p {
	margin: 0 0 10px;
}

p a {
	color: #1a7b60;
}
p a:hover {
	color: #31ad8b;
}

.btn {
	background: #111;
	padding: 12px 24px;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

.noscript {
	padding: 5px 0;
	text-align: center;
	background: #000000;
}

/* Layout */

.content-wrapper {
	padding-bottom: 16px;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
	padding: 0 16px;
}

@media screen and (max-width: 500px) {
	.main-content {
		padding: 0 8px;
	}
}

